Source: print-service
Section: devel
Priority: extra
Maintainer: GangHeok Kim <gangheok.kim@samsung.com>, Taeksu Shin <taeksu.shin@samsung.com>, Dongwook Lee <dwmax.lee@samsung.com>
Uploaders: GangHeok Kim <gangheok.kim@samsung.com>,
           Taeksu Shin <taeksu.shin@samsung.com>,
           Dongwook Lee <dwmax.lee@samsung.com>
Build-Depends: dlog-dev,
               libeina-dev,
               libecore-dev,
               libvconf-dev,
               libsqlite3-dev,
               libcups2-dev,
               libxml2-dev,
               capi-appfw-application-dev,
               binutils-dev
Standards-Version: 0.1.0

Package: print-service-dev
Architecture: any
Depends: ${shlibs:Depends},
         print-service
Description: print library - development file

Package: print-service
Architecture: any
Depends: ${shlibs:Depends},
         libcups2
Description: print library 

Package: print-service-dbg
Architecture: any
Depends: ${shlibs:Depends},
         print-service
Description: print library - debugging symbol
